In [ ]:
# 함수(function)

#list : 하나의 그룹안에 순번을 매겨서 값을 저장해놓은 형태 ("단일 값을 수정, 삭제 등 변경 허용")
#tuple : 하나의 그물안에 순번을 매겨서 값을 지정해놓은 형태 ("단일 값을 수정 삭제 등 변경 허용 x "
#dictionary : 사전("단어 : 뜻 형태 예시 등등 세부정보") -> key(단어) & value("해당 단어에 대한 의미") => 속성

In [5]:
def func1() :
    print("hello")
    print("hello")
    print("hello")
    print("hello")
    print("hello")

In [6]:
func1()

hello
hello
hello
hello
hello

In [17]:
def func2(parameter01, parameter02) :
    print(f"Hello, {parameter01} {parameter02}")
    return f"Hello, {parameter01} {parameter02}"

In [20]:
result = func2("hyoungwon", "Wonsil")
result

Hello, hyoungwon Wonsil

'Hello, hyoungwon Wonsil'

In [21]:
result

'Hello, hyoungwon Wonsil'

In [29]:
def sum(a, b) :
    c = 1 #local 
    result02 = a + b
    return(result02)
a = 1 #global

In [23]:
sum(1, 2)

3

In [25]:
a

1

In [26]:
c

NameError: name 'c' is not defined

In [30]:
result02

NameError: name 'result02' is not defined

In [31]:
for item in [1, 2, 3] :
    print(item) #item => 블록변수(block)

1
2
3

In [32]:
item

3

In [33]:
def func7(a) :
    b = a + 1
    return a, b

In [35]:
result07 = func7(2)
print(result07)
print(type(result07))

(2, 3)
<class 'tuple'>

In [36]:
print(type("str"))
print(type(1))
print(type(True))
print(type([1, 2, 3]))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'list'>

In [38]:
def id_check(id) :
    if id == "admin" :
        print("invalid id : admin")
        return
    
    print(f"vaild id : {id}")

In [41]:
id_check("admin")

invalid id : admin

In [4]:
dict1 = {"name": "david"}
dict1

{'name': 'david'}

In [5]:
data_dict = {"한국":"kr", "일본":"JP", "중국":"on"}

In [10]:
data_dict["한국"]

In [14]:
data_dict["미국"] = "US"

In [15]:
data_dict

{'한국': 'US', '일본': 'JP', '중국': 'on', '미국': 'US'}

In [17]:
del data_dict["일본"]

In [18]:
data_dict

{'한국': 'US', '중국': 'on', '미국': 'US'}

In [19]:
name = "이형원"
age = 34 

print(f"저의 이름은 {name} 입니다, 나이는 {age}입니다")

저의 이름은 이형원 입니다, 나이는 34입니다

In [20]:
felling = "개좋음"
print(f"오늘의 기분은 {felling} 입니다")

오늘의 기분은 개좋음 입니다

In [21]:
num1 = 3
num2 = 7
print(num1 + num2)

10

In [25]:
Q1 = "a"
Q2 = "b"

Q1, Q2 = Q2, Q1
print(Q1, Q2)

b a

In [28]:
a = "Hello"
b = "Word"

print(a+b)

HelloWord

In [30]:
a = "파이썬"
print(a[0])

파

In [38]:
a = "오늘은 정말 재미있는 날이다"
word = a.split()
print(word[2])

재미있는

In [45]:
keys = data_dict.keys()
print(keys)
print(type(keys))

velues = data_dict.values()
print(velues)
items

dict_keys(['한국', '중국', '미국'])
<class 'dict_keys'>
dict_values(['US', 'on', 'US'])

In [46]:
for key in keys :
    print(key)

한국
중국
미국

In [50]:
age = 30
print(f"당신의 10년뒤 나이는 {age+10} 입니다")

당신의 10년뒤 나이는 40 입니다

In [52]:
height = 175
weight = 88
print(f"당신의 BMI 지수는 {weight / height} 입니다")

당신의 BMI 지수는 0.5028571428571429 입니다

In [53]:
work = 8
print(f"당신이 8시간씩 일하면 {work*7}이야")

당신이 8시간씩 일하면 56이야

In [55]:
food = ["수박", "포도", "사과"]
print(food)

['수박', '포도', '사과']

In [59]:
food = ["수박", "포도", "사과"]
print(food[1])

포도

In [67]:
food.append("참외")
print(food)
food.pop(3)
print(food)
food.pop(3)
print(food)
food = ["사과", "참외"]
for item in food:
    print(item)

['수박', '포도', '사과', '참외']
['수박', '포도', '사과']

IndexError: pop index out of range

In [68]:
food01 = ["사과", "참외"]
for item in food :
    print(item)

수박
포도
사과

In [72]:
a = int(input("나이를 입력해주세요"))
if a >= 20:
    print(f"당신은 성년입니다")
else:
    print(f"미성년자입니다")

나이를 입력해주세요 20

당신은 성년입니다

In [74]:
tem = int(input("온도를 입력해주세요"))
if tem >= 30 :
    print(f"더워요")
else:
    print(f"괜찮아요")

온도를 입력해주세요 30

더워요

In [85]:
test = int(input("닫신의 시험 점수를 입력해주세요"))
if test >= 90 :
    print(f"아주 잘하셨음요 A")
elif test < 90 and test >= 80:
    print(f"잘했어요 B")
else:
    print("분발하셈")

닫신의 시험 점수를 입력해주세요 90

아주 잘하셨음요 A

In [89]:
test2 = int(input("숫자를 입력하세요"))
if test2 % 2 == 0: 
    print("짝수입니당")
else:
    print("홀수입니당")

숫자를 입력하세요 89

홀수입니당

In [78]:
titles = ["뉴스A", "뉴스B", "뉴스C", "뉴스D",]
for title in titles:
    print(title)

뉴스A
뉴스B
뉴스C
뉴스D

In [80]:
article01 = {
    "정치":"뉴스A", 
    "Link":"https://www.naver.com"
}
article02 = {
    "경제":"뉴스B", 
    "Link":"https://www.daum.net"
}

articlelist = [article01, article02]
print(articlelist)

[{'정치': '뉴스A', 'Link': 'https://www.naver.com'}, {'경제': '뉴스B', 'Link': 'https://www.daum.net'}]

In [92]:
num = []
for num in range(1, 6):
    print(num)

1
2
3
4
5