In [1]:
print("hello world")

hello world

In [8]:
var = 3.1415

print(format(var, ".1f"))

3.1

In [10]:
num1 = "720"
print(type(num1))

num2 = int(num1)
print(type(num2))

<class 'str'>
<class 'int'>

In [13]:
double = 6 ** 2
print(double)

36

In [30]:
num1 = input("첫 번째 숫자를 입력하세요: ")
num2 = input("두 번째 숫자를 입력하세요: ")

# 문자열로 받아온 입력값을 정수(int)로 변환
num1 = int(num1)
num2 = int(num2)

result = num1 + num2

print("두 수의 합은:", result)

첫 번째 숫자를 입력하세요:  1
두 번째 숫자를 입력하세요:  124

두 수의 합은: 125