# 파이썬 기초문법 할꺼임요 

- 아래 셀추가 b 위에 셀 추가 a

### 1. 변수

### 2.내장함수 (*어딘가에 내포가 되어있다 Built-in Function)
- print()

- Input()

- type()

### 3.연산자 ( 사칙연산 // 비교연산)

### 4.자료타입
- string
- int
- float
- boolean
### 5.형변환
- int()
- float()
- str()
### 6. F-string
- f"문자열(변수)"

### 6. 문자열 매서드 함수
- """ """
- \n
- len()
- find()
- replace()
- strip()
- format() => 유의사항 !! 단독으로 쓰일떄와 함께 쓸때가 다르다 
- [index]
- [index:index

# 단축기 
# A(above) 위쪾 셀 추가 
# B(below) 아래쪽에 셀 추가 
# dd : 셀 삭제 
# 되돌리기 : CTR + z
# 행 바꿈 ( 개행 ) 
# 줄바꿈 enter 
# 셀 실행 ctr + enter

In [14]:
num = 1 

# num -> 변수 ( 어떤 값을 담을 수 있는 그릇 ) 
# Snake 표기법 => hello_world 
# Camel 표기법 => helloWorld (*추천)
# Hungarian 표기법 => HelloWorld
# 변수의 이름이 숫자로 시작되서는 절대 안됨 (*반드시) --> 파이썬이 숫자로 인식하여 계산법에 오류가 남
# num 이라는 변수 안에 1이라는 값을 할당 했다
print(num) 
# print () => 함수 (#Function : 기능)
# print라는 함수안에 num이라는 변수값을 인자(argment)값으로 사용했다

1

In [17]:
print("Hello Hello")

Hello Hello

In [19]:
# 자료타입이 왜 중요한가? 
print(type(1))
# 알트 시프트 아래 (복제) 단축기
print(type("1"))

<class 'int'>
<class 'str'>

In [24]:
# 연산기능 
num01 = 3
num02 = 7

print(num01 + num02)
print(num02 - num01)
print(num01 * num02)
print(num02 / num01)
print((7 + 3) * 5)

10
4
21
2.3333333333333335
50

In [28]:
print(15 / 7 ) # 나누기 연산자
print(15 // 7 )# 나누기 후 몫의 값을 정수로 찾아 주는 연산자 
print(15 % 7) # 나머지 연산자
print(2 ** 3)

2.142857142857143
2
1
8

In [29]:
str_data ="Hello" # 문자열
int_data = 1 # 정수
float_data = 1.1 # 부동소수
boll_data = True # 논리형

print(type(str_data), type(int_data), type(float_data), type(boll_data))

<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

In [34]:
digit1 = 10
digit2 = 20
name = "won"

print(digit1 * digit2) # 동일한 자료형태의 경우에는 연산처리 가능!

200

In [36]:
name1 = "won"
name2 = "shil"

print(name1 + name2)

wonshil

In [45]:
num1 = 2 
num2 = 4 

print(num01 < num2)
print(num01 > num2)
print(num01 >= num2) # 같거나 크다 
print(num01 <= num2) # 같거나 작다
print(num01 == num2) # 값이 동일하다
print(num01 != num2) # 느낌표는 not 이란 뜻 같지 않다 라는 뜻

True
False
False
True
False
True

In [ ]:
age = 24 
name = "Won"
height = 176
weight = 80
footSize = 260
glass = True
marriage = True
gender = "male"
hobby = "guitar"

In [ ]:
### 반지름 10인 변수를 선언하시고 해당 반지름을 기준으로 하는 원의 지름, 둘레, 넓이 변수로 선언 및 할당 출력

In [56]:
ban = 10 
jirum = ( ban * 2 ) 
pai = 3.1415 
dulle = ( 2 * pai * ban) 
extent = ( pai * 10 ** 2 ) 

print(jirum, dulle, extent)
print("반지름 ; ", ban, "지름 ; ", jirum, "둘레 ; ", dulle, "널이 ; ", extent)
print(f"반지름 ; {ban}") # F-String = Formated String

20 62.830000000000005 314.15000000000003
반지름 ;  10 지름 ;  20 둘레 ;  62.830000000000005 널이 ;  314.15000000000003
반지름 ; 10

In [73]:
name = input("what is your name?")
address = input("where are you from?")
gender = input("man or woman?")
age = int(input("How old are you?"))

print(f"hi i'am {name} i'am from {address} my age is {age}"  )

what is your name? 재ㅜ
where are you from? Kkachimountine
man or woman? man
How old are you? 33

hi i'am 재ㅜ i'am from Kkachimountine my age is 33

In [70]:
num1 = int(input())
num2 = int(input())

print(num1 * num2)

 20
 346

6920

In [94]:
num3 = 6.3
num4 = 1

print(type(num3))
print(type(num4))

num5 = int(num3)
print(type(num5))

<class 'float'>
<class 'int'>
<class 'int'>

In [121]:
article1 = "주인공 성기훈의 내레이션과 함께, 어릴 적 기훈이 동네 친구들과의 오징어 게임에서 이기는 장면을 보여준 후 타이틀이 등장하면서 시작한다."

article2 = """성인이 된 기훈은 이혼한 뒤 대리운전 기사 등을 전전하다 백발의 노모에게 얹혀살고 있었고, 
하나뿐인 어린 딸 가영의 생일 선물을 살 돈도 어머니에게서 받아내는 비루한 인생을 살고 있었다. 
이혼 후 가영은 재혼한 전처가 키우고 있었지만, 기훈은 가영의 생일도 챙겨주지 않고 어머니의 돈을 몰래 빼내서 경마 도박에 올인하는데 딸의 생일(6월 8일) 날짜를 이용해 베팅하며 우여곡절 끝에 456만 원이라는 거금을 얻게 된다.
[4]\n밖으로 나와 가영이와 전화 통화를 하며 즐거워하던 것도 잠시, 
자신을 찾아온 사채업자 김정래 대표 때문에 황급히 \n도망치다 누군가와 부딪히고 주머니에 있는 455만 원을 전부 
소매치기당하고 만다. 
기훈은 이를 눈치챌 틈도 없이 도망치다 결국 사채업자들에게 붙잡혀 화장실에서 신체포기각서를 쓰게 된다.
[5] 어떻게든 만 원이라도 만들어서[6] 인형뽑기로 권총 라이터를 선물했다가[7] 황급히 가져간 뒤에 떡볶이를 
사주지만, 아버지 노릇도 제대로 못해준 나머지 그저 자괴감만 든다. 결국 
"내년 생일에는 더 잘 챙겨줄게."라며 애써 가영을 위로하지만 가영이는 아무런 대답을 못하고 머뭇거린다."""

In [131]:
#객체란? 
# 1. article2라는 변수를 만들고 문장을 할당함 
# 2. article2라는 변수에 문자열 형태의 값이 할당됨으로 이제 ararticle2라는 변수는 문자열 객체라고 부를 수 있음
# 3. 객체는 어떤 타입의 객체이냐에 따라서 사용할 수 있는 메서드 함수(*문자열())가 결정됨

print(article2.count("기훈"))
print(len(article2))
print(article2)
print(article2.find("성"))# "성" 이라는 문자열은 0번째 인덱스 값을 가지고 있음 
print(article2.find("된"))
print(article2.find(""))

# 동의 보감 => 동 : 0 // 감 : 3 => 문자열의 전체 총 개수 - 1 => 마지막번째 문자열의 인덱스 값과 동일

3
576
성인이 된 기훈은 이혼한 뒤 대리운전 기사 등을 전전하다 백발의 노모에게 얹혀살고 있었고,
하나뿐인 어린 딸 가영의 생일 선물을 살 돈도 어머니에게서 받아내는 비루한 인생을 살고 있었다.
이혼 후 가영은 재혼한 전처가 키우고 있었지만, 기훈은 가영의 생일도 챙겨주지 않고 어머니의 돈을 몰래 빼내서 경마 도박에 올인하는데 딸의 생일(6월 8일) 날짜를 이용해 베팅하며 우여곡절 끝에 456만 원이라는 거금을 얻게 된다.
[4]
밖으로 나와 가영이와 전화 통화를 하며 즐거워하던 것도 잠시,
자신을 찾아온 사채업자 김정래 대표 때문에 황급히
도망치다 누군가와 부딪히고 주머니에 있는 455만 원을 전부
소매치기당하고 만다.
기훈은 이를 눈치챌 틈도 없이 도망치다 결국 사채업자들에게 붙잡혀 화장실에서 신체포기각서를 쓰게 된다.
[5] 어떻게든 만 원이라도 만들어서[6] 인형뽑기로 권총 라이터를 선물했다가[7] 황급히 가져간 뒤에 떡볶이를
사주지만, 아버지 노릇도 제대로 못해준 나머지 그저 자괴감만 든다. 결국
"내년 생일에는 더 잘 챙겨줄게."라며 애써 가영을 위로하지만 가영이는 아무런 대답을 못하고 머뭇거린다.
0
4
571

In [188]:
# 파이썬 > 문자열 >슬라이스 기능

text001 = "python"

print(text001)
print(text001[0])
print(text001[1])
print(len(text001))
print(text001[len(text001) -1])
print(type(text001))

print(text001[0:2])
print(text001[2:4])
print(text001[-2])

python
p
y
6
n
<class 'str'>
py
th
o

In [193]:
some_string = "   computer   "
print(len(some_string))

some_string2 = some_string.strip()

print(some_string.strip())
print(len(some_string2))

some_string3 = ",,,wonshil,,,"
print(some_string3.strip(","))

14
computer
8
wonshil

In [199]:
var01 = "pen" 
var02 = "apple"

print(f"i have a {var01}, ihave a {var02}") 

print("i have a {}, i have a {} ".format("pen", "apple"))
print("i have a {1}, i have a {0} ".format("pen", "apple"))
print("i have a {0}, i have a {0} ".format("pen", "apple"))

i have a pen, ihave a apple
i have a pen, i have a apple
i have a apple, i have a pen
i have a pen, i have a pen

In [201]:
interest = 0.897
print(type(interest))
print(format(interest, ".2f"))

<class 'float'>
0.90

In [207]:
print("i have a %f, i have a %f" % (1.6512, 5.6412))

# %s 문자열 
# %d 정수 입력
# %f 부동소수 입력

i have a 1.651200, i have a 5.641200